<!-- keep ngmodel name and retrieving details to same name -->

<!-- keep ngmodel name and retrieving details to same name -->
<!-- keep ngmodel name and retrieving details to same name -->
<div class="update-form">
    <h3 style="text-align: center; padding: 30px; margin-left: 15px;font-size: 30px;"><strong>Update Associate</strong> </h3>

    <form #associateCreationForm="ngForm">

        <div class="form-group text-center p-3 m-3 border border-dark" style="margin-top:20px;">
            <div class=" profile col-md-6 w-100">
                <img src="{{theAssociate.profilePhoto}}" height="100px"  width="100px" alt="no profile added"><br>
            </div><br>
            <div class="col-md-6 w-100 row">
                <div class="col-sm-2">
                <input type="file" id="associateImage" ngModel name="associateImage"
                        #associateImage="ngModel" [(ngModel)]="theAssociate.profilePhoto"
                        (change)="onImageUpload($event)">
                </div>
           
            <div class="col-sm-2">
                <input class="inputProfile" type="text" placeholder="edit profile" value="{{fileName}}">
            </div><br>

        </div>
            <div class="row m-3">

                <div class="col-m-6 w-100">
                    <input type="text" id="associateName" class="form-control" required ngModel name="associateName"
                        [(ngModel)]="theAssociate.associateName" #associateName="ngModel"><br>
                </div>
                <!-- Create this division below the field for any validation messages -->
                <div class="alert alert-danger" *ngIf="associateName.touched && !associateName.valid">
                    <div *ngIf="associateName.errors.required">*required</div>
                </div>
                <br>
            </div>

            <div class="row m-3">
                <div class="col-m-6 w-100">
                    <input type="text" id="associateEmail" class="form-control" placeholder="Associate Email" required
                        minlength="3" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" ngModel
                        name="associateEmail" [(ngModel)]="theAssociate.associateEmail" #associateEmail="ngModel"
                        disabled="true"><br>
                </div>
                <!-- Create this division below the field for any validation messages -->
                <div class="alert alert-danger" *ngIf="associateEmail.touched && !associateEmail.valid">
                    <div *ngIf="associateEmail.errors.required">*required</div>

                    <div *ngIf="associateEmail.errors.pattern">Email should match the pre-defined pattern</div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-m-6 w-100">
                    <input type="text" class="form-control" id="associateMobileNo" ngModel name="associateMobileNo"
                        disabled="true" #associateMobileNo="ngModel" required
                        [(ngModel)]="theAssociate.associateMobileNo" minlength="10" maxlength="10"
                        pattern="[0-9]{10}"><br>
                </div>
                <div class="alert alert-danger" *ngIf="associateMobileNo.touched && !associateMobileNo.valid">
                    <div *ngIf="associateMobileNo.errors.required">*required</div>
                    <div *ngIf="associateMobileNo.errors.pattern">please put 10 digit mobile number</div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-m-6 w-100" *ngFor="let skill of theSkill;let i = index">
                    <div class="row">

                        <div class="col-lg-4  p-3">
                            <select id="userSkill" class="form-control" required [(ngModel)]="skill.skillName"
                                #userSkill="ngModel" name="skill.skillName{{i}}">
                                <option *ngFor="let k of responseDetails; let i = index" [value]="responseDetails[i]">
                                    {{responseDetails[i]}}
                                </option>
                            </select>
                            <div class="alert alert-danger" *ngIf="userSkill.touched && !userSkill.valid">
                                <div *ngIf="userSkill.errors.required">skill is required</div>

                            </div>
                        </div>
                        <div class="col-lg-4  p-3">
                            <select id="userSkillLevel" class="form-control" required [(ngModel)]="skill.skillLevel"
                                name="skill.skillLevel{{i}}" #userSkillLevel="ngModel">
                                <option value="">Select skill level</option>
                                <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="[i]">
                                    {{i}}
                                </option>
                            </select>
                            <div class="alert alert-danger" *ngIf="userSkillLevel.touched && !userSkillLevel.valid">
                                <div *ngIf="userSkillLevel.errors.required">skillLevel is required</div>

                            </div>
                        </div>
                        <div class="col-lg-2 p-3">

                            <span (click)="removeValue(i)" [disabled]="butDisabled"><i class="fa fa-minus-circle"
                                    style="font-size:35px;color:red;margin-right: -10px;"></i>
                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span (click)="addvalue()"><i class="fa fa-plus-circle"
                                    style="font-size:35px;color:green;margin-left: -10px;"></i>
                            </span>

                        </div>
                        <div class="col-lg-1 p-3">

                        </div>
                    </div>
                    <br>

                </div>

            </div>
            <br>



            <button type="button" (click)="updateAssociate()" class=" btn btn-success btn-lg btn-block"
                [disabled]="!associateCreationForm.form.valid" style="width: 200px;margin-left: 15px;">Update
                Associate</button>
            <img (click)="deleteAssociate()" src="../../../assets/images/trash.gif" alt="delete" class="imgDelete"
                style="height: 28px; width: 28px;">


        </div>
    </form>
</div>