.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    box-shadow: 10px 10px 10px 0px rgba(228, 9, 9, 0.2), 10px 9px 26px 10px rgba(0, 0, 0, 0.19);
    background-color: midnightblue;
}

.login-form-1 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 80px;
}

.login-form-1 button {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.backImg {
    /* background-image: url(../../../assets/images/mainpage2.jpg); */
    /* background-size: 500px 500px; */
    float: left;
    width: 500px;
    height: 400px;
}