<!--details of particular associate based on his/her associateId  -->


<div class="row container-fluid graph-css" >
    <div  class="col-sm-6 jumbotron jumbotron-fluid">
        <div class="container">
            <div id="associateId" [(ngModel)]="theAssociate.associateId" name="associateId">Associate Details of Id:
                {{responseData.associateId}}
            </div>
            <div><img src="../../../assets/images/edit.png" alt="icon can't displayed" class="editOption"
                [routerLink]="['/update-details',responseData.associateId]"></div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Contents</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Associate Photo</th>
                            <td> <img class="profilepicture img-fluid rounded-circle"
                                [src]="responseData.profilePhoto" alt="Can't load image"></td>
                        </tr>
                        <tr>
                            <th scope="row">Associate Name</th>
                            <td>{{responseData.associateName}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Associate Email</th>
                            <td>{{responseData.associateEmail}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Associate Mobile number</th>
                            <td>{{responseData.associateMobileNo}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Skills</th>
                            <td>
                                <div *ngFor="let i of responseData.skills">
                                    <li>{{i.skillName}}({{i.skillLevel}})</li>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- icon for editing  -->
        <!-- <img src="../../../assets/images/edit.png" alt="icon can't displayed" class="editOption"
            [routerLink]="['/update-details',responseData.associateId]"> -->
    </div>

    <!-- icon for editing  -->
    <!-- <img src="../../../assets/images/edit.png" alt="icon can't displayed" class="editOption"
        [routerLink]="['/update-details',responseData.associateId]"> -->

    <!-- for showing bar graph with person skills and levels -->
    <!-- <button class="btn btn-primary" (click)=displayGraph()>Show statistics</button> -->
    <div class="col-sm-6">
        <div *ngIf='graphFlag'>
            <app-bar-graph associateId="responseData.associateId"></app-bar-graph>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->